@import './variables';

@mixin default-page {
  height: 100vh;
  background-color: $mainBackgroundColor;
}

// Borders

@mixin main-border {
  border: $defaultBorder;
  border-radius: 8px;
}

@mixin chat-border {
  border: $defaultBorder;
  border-radius: $chatBorderRadius;
}

@mixin chat-input-border {
  border-top: $defaultBorder;
  border-radius: 0 0 $chatBorderRadius $chatBorderRadius;
}