$mainBackgroundColor: #EDEEF0;

$labelColor: #d3d9de;
$labelSize: 1em;

$borderColor: $labelColor;
$borderSize: 1px;
$defaultBorder: $borderSize solid $borderColor;

$chatBorderRadius: 3px;

$messageHoveredColor: #f6fafe;
$messagePressedColor: #ECF0F4;
