@import '../../consts/styles/variables';

.message {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
}

.message__meta {
  margin-bottom: 5px;
}

.message__meta_right {
  text-align: right;
}

.message__user {
  color: #42648b;
  font-weight: bold;
}

.message__content_right {
  display: flex;
  justify-content: flex-end;
}

.message__text {
  word-wrap: break-word;
}

.message__text_right {
  min-width: 0;
}
